.window {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap {
    width: max-content;
    height: 200px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.h {
    position: relative;
    width: 200px;
    background-color: transparent;
    height: 200px;
    border-radius: 2px;
    transition: all 300ms;
}
.h > button {
    position: absolute;
    top: calc(50% - 90px);
    left: calc(50% - 90px);
    width: 180px;
    height: 180px;
    border-radius: 2px;
    transition: all 300ms;
    font-family: sans-serif;
    border: none;
    outline: none;
    font-size: large;
}
.h > button:active {
    transform: scale(0.9);
}
.highlight {
    background-color: #eeeeee;
}
.white {
    color: white;
}
.black {
    color: black;
}
